.car-scene-container {
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  pointer-events: auto;
}

/* Force canvas to be transparent */
.car-scene-container canvas {
  background-color: transparent !important;
}